<form action="/products/1/update" method="POST">


    <input type="text" name="price" id="">
    <input type="text" name="name" id="">
    <input type="text" name="description" id="">

    <input type="submit" value="Submit">
    
    
</form>